<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">ComptoxAI is hosted by the <a href="http://epistasis.org" target="_blank">Computational Genetics Lab</a> at the University of Pennsylvania, and is maintained by <a href="http://jdr.bio" target="_blank">Joseph D. Romano</a>.</span>
  </div>
</footer>