{% extends 'layouts/base.njk' %}
{% from "components/frontmatter.njk" import frontmatter %}

{% block main %}
  <div id="page-content">
    <div id="container">
      <h2 class="pb-2">{{ title }}</h2>
      {% block content %}{% endblock %}
      <hr/>
    </div>
  </div>
{% endblock %}