---
title: Oops! Page not found
permalink: 404.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <h2>404 Error</h2>
    <p>
      Uh oh, we can't find the page you requested. If you feel you are seeing this page erroneously, please <a href="/contact.html">let us know</a>.
    </p>
  </div>
{% endblock %}