---
title: Contact Us
permalink: contact.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">

      <p>This website is currently maintained by Joseph D. Romano, who can be
      reached via email at
      <b>joseph.romano&nbsp;[at]&nbsp;pennmedicine.upenn.edu</b>.</p>

      <p>Similar projects can be found  at <a href="https://jdr.bio"
      target="_blank">Dr. Romano's personal website</a>, or at the University of
      Pennsylvania's <a href="http://epistasis.org"
      target="_blank">Computational Genetics Lab home page</a>.</p>
  </div>
{% endblock %}