---
title: ComptoxAI
permalink: /index.html
---

{% extends 'layouts/page.njk' %}

{% block content %}
  <div id="page-content">
    <section>
      <h2>ComptoxAI</h2>
    </section>
  </div>
{% endblock %}